{% extends 'layout.html' %}
{% block content %}
    <form action="/contacts/new" method="post">
        <fieldset>
            <legend>Contact Values</legend>
            <p>
                <label for="email">Email</label>
                <input name="email"
                       id="email"
                       type="email"
                       placeholder="Email"
                       value="{{ contact.email if contact.email else '' }}" />
                <span class="error">{{ contact.errors['email'] }}</span>
            </p>
            <p>
                <label for="first_name">First Name</label>
                <input name="first_name"
                       id="first_name"
                       type="text"
                       placeholder="First Name"
                       value="{{ contact.first if contact.first else '' }}" />
                <span class="error">{{ contact.errors['first'] }}</span>
            </p>
            <p>
                <label for="last_name">Last Name</label>
                <input name="last_name"
                       id="last_name"
                       type="text"
                       placeholder="Last Name"
                       value="{{ contact.last if contact.last else '' }}" />
                <span class="error">{{ contact.errors['last'] }}</span>
            </p>
            <p>
                <label for="phone">Phone</label>
                <input name="phone"
                       id="phone"
                       type="text"
                       placeholder="Phone"
                       value="{{ contact.phone if contact.phone else '' }}" />
                <span class="error">{{ contact.errors['phone'] }}</span>
            </p>
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-secondary" href="/contacts" role="button">Back</a>
        </fieldset>
    </form>
    <p></p>
{% endblock %}
