<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Examples</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link {% if not ( request.url.path.startswith('/example') ) %}active{% endif %}"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  {% if ( request.url.path.startswith('/example-01') ) %}active{% endif %}"" href="
                            /example-01">01 Button Clicks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  {% if ( request.url.path.startswith('/example-02') ) %}active{% endif %}"" href="
                            /example-02">02 React Counter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
