{% extends 'layout.html' %}
{% block content %}
    <h1>'React' Counter Example</h1>
    <div id="counter-display" style="font-size: 50px">
        0
        <input type="hidden" name="currentValue" id="currentValue" value="0" />
    </div>
    <button hx-put="increment"
            hx-include="#currentValue"
            hx-target="#counter-display">Increment</button>
    <button hx-put="decrement"
            hx-include="#currentValue"
            hx-target="#counter-display">Decrement</button>
{% endblock %}
